venv/
rmvpe_env/
__pycache__/
.DS_Store
*.pyc
rmvpe_env
rmvpe_env/
venv/
__pycache__/
.DS_Store
node_modules/
*.wav
*.mp3
*.npy
*.pth
*.pt
*.ckpt
separated/
redred.mp3
music.mp3
melody.wav
piano_preview.wav
golden.mp3
detectec_melody.mid
separated/



output/
models/*
!models/note_onsets.joblib
!models/note_onsets.json
songs/
